@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textcolor: #999AA5;
  --customblue: #4D6BFE;
  --buttonhover: #4F6ECA;
  --chat-button-bg: #494949;
  --chat-button-hover-bg: #333333;
  --textareabg: #404045;
  --sidebar-bg: #212327;
  --lightgrey: #292A2D;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--lightgrey);
  font-family: Arial, Helvetica, sans-serif, Geist;
  height: 100vh;
  margin: 0;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.textarea {
  color: var(--textcolor);
  background: var(--textareabg);
  resize: none;
  min-height: 6rem;
  border-radius: 20px;
  outline: none;
}

.button {
  color: var(--foreground);
  background: var(--customblue);
  border: none;
  padding: 0.5rem 1rem;
  /* border-radius: 0.25rem; */
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background: var(--buttonhover);
}

.sidebar {
  width: 20.3vw;
  background-color: var(--sidebar-bg);
}

.chat-button {
  color: white;
  border-radius: 0.7rem;
  text-align: start;
  margin: 4px 0px;
  padding: 8px 10px;
  font-size: 0.9rem;
}

.chat-button:hover {
  background-color: var(--chat-button-hover-bg);
}

.chat-button:active {
  background-color: var(--chat-button-bg);
}

.chat-day {
  color: var(--chat-button-bg);
  font-weight: 500;
  font-size: 0.8rem;
  margin: 10px 0px;
}

.bottom-line {
  text-align: center;
  font-weight: 100;
  font-size: 0.7rem;
}